@(ctgform: Form[forms.CategoryForm], categories: List[models.Category])

@import helper.twitterBootstrap._

@main("Welcome Administrator") {

  @helper.form(action = routes.CategoryController.save, 'enctype -> "multipart/form-data") {

    @helper.inputText(ctgform("name"))
    @helper.inputText(ctgform("description"))

<div class="clearfix" id="id_parent_field">
    <label for="id_parent">parent category</label>
    <div class="input">
      <select name="id_parent" multiple class="form-control">
      @for(ctg <- categories) {
        <option value="@ctg.id">@ctg.id - @ctg.name</option>
      }
      </select>
    </div>
</div>

    <button type="submit" class="btn btn-default">Submit</button>
  }
   
}
