@(permanentform: Form[forms.PermanentPromForm], categories: List[models.Category])

@import views.html.helper.options

@import helper.twitterBootstrap._

@main("Add Permanent Promotion") {

  @helper.form(action = routes.PermPromotionController.save, 'enctype -> "multipart/form-data") {

    @helper.inputText(permanentform("name"))
    @helper.inputText(permanentform("discount"))
    @helper.inputText(permanentform("begin_date"))
    @helper.inputText(permanentform("description"))
    <!--@helper.inputText(permanentform("category"))-->
    <div class="clearfix" id="category">
        <label for="category">category</label>
        <div class="input">
          <select name="category" multiple class="form-control">
          @for(ctg <- categories) {
            <option value="@ctg.id">@ctg.id - @ctg.name</option>
          }
          </select>
        </div>
    </div>
    
    @helper.inputText(permanentform("money_required"))
    
    <button type="submit" class="btn btn-default">Submit</button>
  }
   
}