@(fileform: Form[forms.FileForm], categories: List[models.Category])

@import views.html.helper.options

@import helper.twitterBootstrap._

@main("Edit File") {

  @helper.form(action = routes.FileController.update, 'enctype -> "multipart/form-data") {

    <input type="hidden" name="id" value='@(fileform("id").value)'>
    <input type="hidden" name="size" value='@(fileform("size").value)'>
    <input type="hidden" name="path" value='@(fileform("path").value)'>
    @helper.inputText(fileform("name"))
    @helper.inputText(fileform("author"))
    @helper.inputText(fileform("description"))
    @helper.inputText(fileform("price"))
    @helper.inputText(fileform("rate"))
    @helper.inputText(fileform("state"))

    <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input type="file" name="mediafile">
      <p class="help-block">Please upload the media file.</p>
    </div>

    <div class="clearfix" id="category_field">
        <label for="category">category</label>
        <div class="input">
          <select name="category" multiple class="form-control">
          @for(ctg <- categories) {
            <option value="@ctg.id">@ctg.id - @ctg.name</option>
          }
          </select>
        </div>
    </div>

    <button type="submit" class="btn btn-default">Update</button>
  }
   
}
