@(permanentform: Form[forms.PermanentPromForm], categories: List[models.Category])

@import views.html.helper.options

@import helper.twitterBootstrap._

@main("Edit Permanent Promotion") {

	@helper.form(action = routes.PermPromotionController.update, 'enctype -> "multipart/form-data") {

		<input type="hidden" name="id" value='@(permanentform("id").value)'>
		@helper.inputText(permanentform("name"))
		@helper.inputText(permanentform("discount"))
		@helper.inputText(permanentform("begin_date"))
		@helper.inputText(permanentform("description"))

		<div class="clearfix" id="category_field">
        <label for="category">category</label>
        <div class="input">
          <select name="category" multiple class="form-control">
          @for(ctg <- categories) {
            <option value="@ctg.id">@ctg.id - @ctg.name</option>
          }
          </select>
        </div>
    </div>
    
    @helper.inputText(permanentform("money_required"))

		<button type="submit" class="btn btn-default">Update</button>
	}
	 
}
