@(options: Map[String, String])(session : String)

@main("Welcome Administrator") {

  <div class="jumbotron">
    <h1>Welcome</h1>
    <h2>@session</h2>
    <ul>
      @for((key, value) <- options) {
        <li>
          <a href="/admin/@key">@value</a>
        </li>
      }
    </ul>

    <div class="container">
      <h2>Consultas</h2>
      <ul>
        <li>
          <a href="@routes.AdminController.open1">Buscar Informacion de Clientes</a>
        </li>
        <li>
          <a href="">Buscar Informacion de Archivos</a>
        </li>
        <li>
          <a href="">Buscar Informacion de Autor</a>
        </li>
        <li>
          <a href="">Notas de un Usuario</a>
        </li>
        <li>
          <a href="">Titulos por Categoria</a>
        </li>
        <li>
          <a href="">Ranking / mas descargados</a>
        </li>
        <li>
          <a href="">Ranking / mas valorados</a>
        </li>
        <li>
          <a href="">Buscar Informacion de Descargas</a>
        </li>
      </ul>
    </div>
  </div>

   
}
