@(files: List[models.File])

@import views.html.helper.options

@import helper.twitterBootstrap._

@main("Welcome Administrator") {

  <h1>@files.size() File(s)</h1>

  <h3><a href="@routes.FileController.add()">Add File</a></h3>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Author</th>
          <th>Size</th>
          <th>Price</th>
          <th>Rate</th>
          <th>State</th>
          <th>Category</th>
        </tr>
      </thead>

      <tbody>
        

        @for(file <- files) {

          <tr>
            <td><a href="@routes.FileController.edit(file.id)">@file.id</a></td>
            <td>@file.name</td>
            <td>@file.author</td>
            <td>@file.size</td>
            <td>@file.price</td>
            <td>@file.rate</td>
            <td>@file.state</td>
            @if(file.category != null){
              <td>@file.category.id - @file.category.name</td>
            } else {
              <td>-</td>
            }
          </tr>
          
        }
      </tbody>
    </table>
  </div>
}
