@(per_proms: List[models.PermanentPromotion])

@import views.html.helper.options

@import helper.twitterBootstrap._

@main("Permanent Promotion List") {

	<h1>@per_proms.size() Permanent Promotion(s)</h1>

	<h3><a href="@routes.PermPromotionController.add()">Add PermanentPromotion</a></h3>

	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Discount</th>
					<th>Begin Date</th>
					<th>Description</th>
					<th>Category</th>
					<th>Money Required</th>
					<th>OPTION</th>
				</tr>
			</thead>

			<tbody>
				

				@for(per_prom <- per_proms) {

					<tr>
						<td><a href="@routes.PermPromotionController.edit(per_prom.id)">@per_prom.id</a></td>
						<td>@per_prom.name</td>
						<td>@per_prom.discount</td>
						<td>@per_prom.begin_date</td>
						<td>@per_prom.description</td>
						<!--<td>@per_prom.category</td>-->
						@if(per_prom.category != null){
							<td>@per_prom.category.id - @per_prom.category.name</td>
						} else {
							<td>-</td>
						}
						<td>@per_prom.money_required</td>

						<td align=center>
						<a href="@routes.PermPromotionController.delete(per_prom.id)"> <img src="http://icons.iconarchive.com/icons/icojam/blue-bits/256/database-delete-icon.png" width=25> 
						</a></td>
					</tr>
					
				}
			</tbody>
		</table>
	</div>
}
