@(categories: List[models.Category])

@import helper.twitterBootstrap._

@main("welcome administrator") {

  <h1>@categories.size() Categories</h1>

  <h3><a href="@routes.CategoryController.add()">Add Category</a></h3>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>name</th>
          <th>description</th>
          <th>parent category</th>
        </tr>
      </thead>

      <tbody>

        @for(ctg <- categories) {

          <tr>
            <td><a href="@routes.CategoryController.edit(ctg.id)">@ctg.id</a></td>
            <td>@ctg.name</td>
            <td>@ctg.description</td>
            @if(ctg.parent != null){
              <td>@ctg.parent.id - @ctg.parent.name</td>
            } else {
              <td>-</td>
            }
          </tr>
          
        }
      </tbody>
    </table>
  </div>
}
