@(accounts: List[models.MoneyAccount])

@import views.html.helper.options

@import helper.twitterBootstrap._

@main("Money Accounts") {

  <h1>@accounts.size() Money Account(s)</h1>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Account</th>
          <th>Money</th>
        </tr>
      </thead>

      <tbody>
        

        @for(ac <- accounts) {

          <tr>
            <td><a href="@routes.MoneyAccountController.edit(ac.id)">@ac.id</a></td>
            <td>@ac.related_user.nickname - @ac.related_user.email</td>
            <td>@ac.amount</td>
          </tr>
          
        }
      </tbody>
    </table>
  </div>
}
