@(temp_proms: List[models.TemporaryPromotion])

@import views.html.helper.options

@import helper.twitterBootstrap._

@main("Temporary Promotion List") {

	<h1>@temp_proms.size() Temporary Promotion(s)</h1>

	<h3><a href="@routes.TempPromotionController.add()">Add TemporaryPromotion</a></h3>

	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Discount</th>
					<th>Begin Date</th>
					<th>Description</th>
					<th>Category</th>
					<th>End Date</th>

					<th>OPTION</th>
				</tr>
			</thead>

			<tbody>
				

				@for(temp_prom <- temp_proms) {

					<tr>
						<td><a href="@routes.TempPromotionController.edit(temp_prom.id)">@temp_prom.id</a></td>
						<td>@temp_prom.name</td>
						<td>@temp_prom.discount</td>
						<td>@temp_prom.begin_date</td>
						<td>@temp_prom.description</td>
						@if(temp_prom.category != null){
							<td>@temp_prom.category.id - @temp_prom.category.name</td>
						} else {
							<td>-</td>
						}
						<td>@temp_prom.end_date</td>

						<td align=center>
						<a href="@routes.TempPromotionController.delete(temp_prom.id)"> <img src="http://icons.iconarchive.com/icons/icojam/blue-bits/256/database-delete-icon.png" width=25> 
						</a></td>
					</tr>
					
				}
			</tbody>
		</table>
	</div>
}
