@(purs: List[models.Purchase])

@import views.html.helper.options

@import helper.twitterBootstrap._

@main("Your Purchases", 1) {

  <h1>@purs.size() Purchase(s)</h1>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Author</th>
          <th>Category</th>
          <th>Total Spend</th>
          <th>Size of File</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        

        @for(pcs <- purs) {

          <tr>
            <td>@pcs.related_file.name</td>
            <td>@pcs.related_file.author</td>
            @if(pcs.related_file.category != null){
              <td>@pcs.related_file.category.name</td>
            } else {
              <td>-</td>
            }
            <td>@pcs.total_spend</td>
            <td>@pcs.related_file.size</td>
            <td>@pcs.date</td>
            <td><a href="@routes.PurchaseController.user_download(pcs.related_file.id)">DOWNLOAD</a></td>
            <td><a href="@routes.PurchaseController.user_rate(pcs.id)">RATE IT</a></td>
          </tr>
          
        }
      </tbody>
    </table>
  </div>
}
