@(form: Form[forms.PurchaseForm])

@import views.html.helper.options

@import helper.twitterBootstrap._

@main("Rate Purchase", 1) {

  @helper.form(action = routes.PurchaseController.user_rate_file, 'enctype -> "multipart/form-data") {

    <input type="hidden" name="id" value='@(form("id").value)'>
    <input type="hidden" name="file" value='@(form("file").value)'>
    @helper.inputText(form("rate"))

    <button type="submit" class="btn btn-default">Rate it!</button>
  }
   
}
