
@(form: Form[LoginAdmin])

@main("Login Administrator") {
<center>
	<div class="container" >
  <table><tr><td bgcolor="white" width="350" height="349"><center>
  @helper.form(routes.LoginAdminController.authenticate) {
	<h2 class="form-signin-heading">Administration</h2>
  @if(form.hasGlobalErrors) {
    <font color="red"><p class="error" >
        @form.globalError.message
    </p></font>
  }
	<input type="email" name="email" class="input-block-level" placeholder="Email"><br><br>
	<input type="password" name="password" class="input-block-level" placeholder="Password"><br><br>
	<button class="btn btn-large btn-primary" type="submit">Sign in</button><br><br><hr>
  }
	<a class="btn btn-lg btn-primary" href="@routes.AdminController.add_admin" role="button">New AdminAccount</a>
  </td></center></tr></table>
	</div>
</center>
}
