@(files: List[models.File])

@import views.html.helper.options

@import helper.twitterBootstrap._

@main("Welcome!") {

  <h1>@files.size() File(s) Available</h1>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Author</th>
          <th>Size</th>
          <th>Price</th>
          <th>Rate</th>
          <th>Category</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        

        @for(file <- files) {

          <tr>
            <td>@file.name</td>
            <td>@file.author</td>
            <td>@file.size</td>
            <td>@file.price</td>
            <td>@file.rate</td>
            @if(file.category != null){
              <td>@file.category.name</td>
            } else {
              <td>-</td>
            }
            <td><a href="@routes.PurchaseController.user_buy(file.id)">BUY</a></td>
          </tr>
          
        }
      </tbody>
    </table>
  </div>
}
