
@(message: String)

@main("Bienvenidos ") {
      <div class="jumbotron"  style="background-image: url(http://www.solofondosdepantalla.net/fondos-de-pantalla/Musica/Fondo-de-pantalla-Musica-18.jpg);">
      	<font color=#BECEFC>
        	<h1 class="h1">Bienvenidos</h1>
        	<p>@message</p>
        </font>
        <p>                	
          <a class="btn btn-lg btn-primary" href="@routes.LoginController.login()" role="button">Log in</a>
        </p>
      </div>

   </body>
}
