@(userForm : Form[UserAccount])
@main("New User"){
<center>
<div class="container">

    <table><tr><td bgcolor="white" width="350" height="340"><center>

    @helper.form(routes.UserController.add_user){
        
            <h1>New Account</h1>
            <input type="text" name="nickname" class="input-block-level" placeholder="Nickname"><br><br>
            <input type="password" name="password" class="input-block-level" placeholder="Password"><br><br>
            <input type="text" name="real_name" class="input-block-level" placeholder="Real Name"><br><br>
            <input type="email" name="email" class="input-block-level" placeholder="Email"><br><br>
            <button type="submit" class="btn btn-large btn-primary" >Submit</button>
             </td></tr></table>
    


    <body background="http://www.hdwallpapers.in/download/abstract_color_background_picture_8016-1280x800.jpg">
    </div>
    </center>

    }
}